<launch>
    <param name="robots" type="int" value="4"/>
    <param name="groups" type="int" value="1"/>
    <param name="sensing" type="double" value="0.5"/>
    <param name="worldsize" type="double" value="4.0"/>
    <param name="safezone" type="double" value="0.15"/>
    <param name="dt" type="double" value="0.01"/>
    <param name="mass" type="double" value="5.0"/>
    <param name="vmax" type="double" value="0.3"/>

    <include file="$(find hero_gazebo)/launch/hero_spawn.launch">
        <arg name="x" value="-1.3914415011828618"/>
        <arg name="y" value="1.708139139971244"/>
        <arg name="z" value="0.25"/>
        <arg name="id" value="0"/>
        <arg name="type" value="0"/>
    </include>

    <include file="$(find hero_gazebo)/launch/hero_spawn.launch">
        <arg name="x" value="0.8234446806039825"/>
        <arg name="y" value="-0.5347158987862749"/>
        <arg name="z" value="0.25"/>
        <arg name="id" value="1"/>
        <arg name="type" value="0"/>
    </include>

    <include file="$(find hero_gazebo)/launch/hero_spawn.launch">
        <arg name="x" value="0.7473784977326916"/>
        <arg name="y" value="1.078576565976194"/>
        <arg name="z" value="0.25"/>
        <arg name="id" value="2"/>
        <arg name="type" value="0"/>
    </include>

    <include file="$(find hero_gazebo)/launch/hero_spawn.launch">
        <arg name="x" value="0.5240226762298531"/>
        <arg name="y" value="-0.3074414141226011"/>
        <arg name="z" value="0.25"/>
        <arg name="id" value="3"/>
        <arg name="type" value="0"/>
    </include>

</launch>
